/* default settings */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-text-cl: #757575;
  --add-cl: #212121;
  --white-cl: #ffffff;
  --black-cl: #000000;
  --accent-cl: #2196f3;
  --background: #e5e5e5;
  --background-dark: #2f303a;
  --alt-background: #f5f4fa;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-cl);
  font-weight: 400;
  margin: 0;
}

/* general settings */

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.button-cursor {
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
}

.no-bullet {
  list-style: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header .header-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-link,
.header-contacts {
  font-family: Roboto;
  text-decoration: none;
  color: var(--main-text-cl);
}

.nav-class {
  color: var(--add-cl);
}

.nav-link {
  font-family: Roboto;
  text-decoration: none;
  color: var(--add-cl);
}

/* hovers and accents */
.nav-class,
.nav-link:hover,
.header-link:hover,
.header-link:focus,
.title-accent-one,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-cl);
}

.title-accent-two {
  color: var(--black-cl);
}

.title-accent-three {
  color: var(--white-cl);
}

/* footer settings */

.footer {
  background-color: var(--background-dark);
  color: var(--white-cl);
}

.footer-title,
.footer-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-cl);
}

.footer-address {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-contacts {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/* body settings*/

/* 2-lvl headings */
.heading-team,
.heading-activity,
.heading-features,
.heading-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--add-cl);
}

/* hero home page */

.hero {
  background-color: var(--background-dark);
  color: var(--white-cl);
}

.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-cl);
  color: var(--white-cl);
}

/* features section home page */

.feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--add-cl);
}

/* our team section home page */

.team {
  background-color: var(--alt-backgr);
}

.team .member-card {
  background-color: var(--white-cl);
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--add-cl);
}

.member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

/* portfolio page body*/

.portfolio-button {
  background-color: var(--alt-backgr);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--add-cl);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-cl);
  color: var(--wh-cl);
}

.card-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--add-cl);
}

.card-descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
  font-weight: 400;
}
